# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Aldo\Desktop\Spring 2021\CS 4390 Computer Newtorks\Project\Project Code\CS4390_ServerChat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
